<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>RDAPRoot</servlet-name>
        <display-name>RDAP Root Redirector</display-name>
        <description>A servlet that redirects to other RDAP servers</description>
        <servlet-class>net.arin.rdap_bootstrap.service.RedirectServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RDAPRoot</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
